<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2024 The 2by2 Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.project2by2.AODHelperService"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <protected-broadcast android:name="com.android.systemui.doze.pulse" />

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="24" />

    <application android:persistent="true">

        <receiver android:name=".BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:enabled="true" android:name=".DozeCustomService" />

    </application>
</manifest>
