on boot
    stop console
    stop statsd

    # Change ownership and permission for vibrator
    chown system system /sys/class/leds/vibrator/brightness
    chmod 0660 /sys/class/leds/vibrator/brightness
    chown system system /sys/class/leds/vibrator/loop
    chmod 0660 /sys/class/leds/vibrator/loop
    chown system system /sys/class/leds/vibrator/seq
    chmod 0660 /sys/class/leds/vibrator/seq
